.header {
    /* float: left; */
    height: 85px;
    background: #fff;
    padding: 1em 0;
    width: 100%;
    position: fixed;
    z-index: 10000;
}
.afterHeader{
    height: 85px;
}

/* .header-fix {
    position: fixed;
    left: 210px;
} */

.logo {
    float: left;
    margin-top: 5px;
}

.logo img {
    height: 50px;
}

.menu {
    float: right;
}

.menu li {
    display: inline-block;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    display: block;
    font-size: 1em;
    color: #777;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 50px;
}

#nav .current a {
    color: #6fb0b7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu li a:hover,
.menu li.active a {
    color: #6fb0b7;
    background: #fff !important;
}

.toggleMenu {
    display: none;
    padding: 4px 5px 0px 5px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
}
